* {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #DCDCDC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FA8329;
}


html,
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.navbar-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  transition: transform 0.3s ease-in;
}

body {
  background-color: #f5f3f3;
}

#navigation {
  margin: 0;
  background-color: #f9f8f8;
  position: fixed;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(20px);
}
.navbar-transparent{
  background: transparent !important;
}
#navigation > .wrapper {
  width: 85%;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.flex {
  display: flex;
}
#main-text {
  padding: 40px 10px;
}
#main-text h1 {
  font-family: "Josefin Sans", sans-serif;
}

#navigation ul {
  list-style-type: none;
}
.navigation-list {
  justify-content: space-around;
  width: 40%;
  color: #a2a1a1;
  font-size: 15px;
  font-weight: 400;
  transition: transform;
}
#website-main {
  display: flex;
      width: 85%;
      margin: 0 auto;
      align-items: flex-start;
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
}
#website-main > section {
  flex: 1;
}

.bike-delivery {
  color: orange;
  background-color: #ffedd5;
  width: 150px;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.bike-delivery span {
  font-size: 20px;
  font-weight: 900;
}
.svg-wrapper {
  padding: 8px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bike-delivery svg {
  fill: red;
}

#website-main h1 {
  font-size: 80px;
  line-height: 1.2em;
  margin: 0px;
}
#website-main h1 > span {
  color: #fa8229;
}

#website-main p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 350;
  margin: 30px 0px;
}
#website-main p > span {
  letter-spacing: 3px;
}

.order-now-button {
  background-color: #fa8229;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-weight: 100;
}
.red-bg-container {
  background-color: #f8ac8e;
  width: 50%;
  border-radius: 30px;
  height: 100%;
}

#main-showcase {
  max-height: 750px;
}
#main-showcase img{
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.dish-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 90px;
  width: 100px;
  padding: 10px 2px;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow with a slight blur */
  border-radius: 15px;
  cursor: pointer;
}
.dish-category:hover {
  background-color: red;
  color: white;
}
.category-icon {
  background-color: red;
  padding: 10px;
  border-radius: 30px;
  color: white;
}
.dish-category:hover > .category-icon {
  color: black;
  background-color: #faccd0;
}
.category-icon svg {
  height: 25px;
  width: 25px;
}

#our-hot-dishes {
  text-align: center;
}
h2.our-hot-dishes {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.border-3p-orange {
  width: 130px;
  border: 2px solid orange;
  margin: auto;
  margin-bottom: 30px;
}
.navbar-title svg {
  color: red;
}
.navbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-title:hover {
  transform: scale(1.2);
}

.navigation-list-flex > li:hover {
  margin-top: 1px;
  transform: scale(1.3);
}

/* Item List */

.dish-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 1.3rem;
}

#dish-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  background-color: #f5eee9;
  padding-bottom: 50px;
}
.dish-item {
  width: 20%;
  background-color: #f6f2ef;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
}
.dish-item-img-and-cart {
  position: relative;
  margin-bottom: 20px;
}

.item-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dish-item-cart {
  background-color: #dc2626;
  border-radius: 50px;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.dish-item-cart:hover
 {
  transform: scale(1.3);
}


.dish-item-cart svg {
  height: 23px;
  width: 23px;
  fill: white;
}
.item-price strong {
  color: #dc2626;
}

.footer-section-one-wrapper {
  padding: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: auto;
}
.footer-section-one {
  display: inline-block;
}

.footer-section-one-wrapper:hover {
  animation: shake 0.5s;

  animation-iteration-count: 2;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.footer-section-one-wrapper svg {
  height: 100px;
  width: 100px;
}
.footer-section-one-wrapper h2 {
  font-size: 40px;
}

.footer-section-two {
  display: flex;
  justify-content: space-between;
  padding: 55px;
  border-top: 1px solid #000;
}
#footer-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
#footer-links svg {
  height: 20px;
  width: 20px;
  fill: black;
}

.login-logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 1s;
}
.login-logout-button svg {
  height: 20px;
  width: 20px;
}
.login-logout-button span {
  font-size: 15px;
  color: #7c7c7c;
}
.login-logout-button:hover {
  border-color: #f9ab8c;
  transform: scale(1.2);
}

.selected-category{
  background-color: red;
  color: white;
}
.selected-category svg{
  color: black !important;

}
.selected-category .category-icon{
  background-color: #FACCD0;
}
#service-wrapper, #about, .menu-wrapper{
  padding-top: 100px;
  position: relative;
}
#navigation a{
  text-decoration: none;
  color: black;
}


@media only screen and (max-width: 767px) {
  /* Your styles for devices below desktop size here */
  .dish-item{
    width: 40%;
  }
}